<!-- vssue -->
{{ $platform := site.Params.features.comment.vssue.platform }}
{{ $owner := site.Params.features.comment.vssue.owner }}
{{ $repo := site.Params.features.comment.vssue.repo }}
{{ $clientId := site.Params.features.comment.vssue.clientId }}
{{ $clientSecret := site.Params.features.comment.vssue.clientSecret }}


<div id="vssue"></div>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>

{{ if ( eq $platform "github" ) }}
  <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
{{ else if ( eq $platform "gitlab" ) }}
  <script src="https://unpkg.com/vssue/dist/vssue.gitlab.min.js"></script>
{{ else if ( eq $platform "bitbucket" ) }}
  <script src="https://unpkg.com/vssue/dist/vssue.bitbucket.min.js"></script>
{{ else if ( eq $platform "gitee" ) }}
  <script src="https://unpkg.com/vssue/dist/vssue.gitee.min.js"></script>
{{ else if ( eq $platform "gitea" ) }}
  <script src="https://unpkg.com/vssue/dist/vssue.gitea.min.js"></script>
{{ end }}

<script>
new Vue({
    el: '#vssue',

    data: {
    title: 'Test',

    options: {
        owner: {{ $owner }},
        repo: {{ $repo }},
        clientId: {{ $clientId }},
        clientSecret: {{ $clientSecret }}, // only required for some of the platforms
    },
    },

    template: `<vssue :title="title" :options="options"></vssue>`,
})
</script>
<noscript>
    Please enable JavaScript to view the comments powered by <a href="https://vssue.js.org/">Vssue</a>.
</noscript>
